!!! 5
html
	head
		title= "AptChat"
		script(src='/chat.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet', href='/css/chat.css')
	body
		#outer()
			#inner()
			#name()
				| Enter your name 
				input#name.textbox
			#content()
				input#field.textbox
				input#send.button(type='button', value='send')